Repository cloudfoundry/csb-brokerpak-gcp, pull requests merged in 2024-06, with the labels that each got.

#1201 feat: Implement skeleton PubSub
  .envrc
  .gitignore
  acceptance-tests/apps/pubsubapp/go.mod
  acceptance-tests/apps/pubsubapp/go.sum
  acceptance-tests/apps/pubsubapp/internal/app/app.go
  acceptance-tests/apps/pubsubapp/internal/app/publish.go
  acceptance-tests/apps/pubsubapp/internal/app/receive.go
  acceptance-tests/apps/pubsubapp/internal/credentials/credentials.go
  acceptance-tests/apps/pubsubapp/main.go
  acceptance-tests/helpers/apps/testapps.go
  acceptance-tests/pubsub_test.go
  google-pubsub.yml
  integration-tests/integration_tests_suite_test.go
  integration-tests/pubsub_test.go
  manifest.yml
  scripts/push-broker.sh
  terraform-tests/pubsub_test.go
  terraform/pubsub/bind/main.tf
  terraform/pubsub/bind/outputs.tf
  terraform/pubsub/bind/provider.tf
  terraform/pubsub/bind/variables.tf
  terraform/pubsub/bind/versions.tf
  terraform/pubsub/provision/main.tf
  terraform/pubsub/provision/outputs.tf
  terraform/pubsub/provision/provider.tf
  terraform/pubsub/provision/variables.tf
  terraform/pubsub/provision/versions.tf
Labels: unscheduled, new-feature

#1208 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#1210 fix: potential panic
  acceptance-tests/apps/pubsubapp/internal/app/publish.go
  acceptance-tests/apps/pubsubapp/internal/app/receive.go
Labels: bug-fix

#1213 fix: Should check for authorised network only when it being used
  terraform/cloudsql/mysql/provision/data.tf
  terraform/cloudsql/postgresql/provision/data.tf
  terraform/redis/provision/data.tf
Labels: bug-fix

#1207 test: pubsub migration from legacy
  acceptance-tests/apps/pubsubapp/internal/credentials/credentials.go
  acceptance-tests/pubsub_test.go
  go.mod
  go.sum
Labels: unscheduled

#1214 chore: delete unintentionally added folder
  terraform/vertexai/bind/data.tf
  terraform/vertexai/bind/main.tf
  terraform/vertexai/bind/outputs.tf
  terraform/vertexai/bind/variables.tf
  terraform/vertexai/provision/provider.tf
  terraform/vertexai/provision/variables.tf
  terraform/vertexai/provision/versions.tf
Labels: unscheduled, chore

#1217 feat: pubsub bindings #187726208
  google-pubsub.yml
  terraform/pubsub/bind/main.tf
Labels: unscheduled, new-feature

#1224 feat: Subscription name cannot change as it would lead to deleting the…
  google-pubsub.yml
  integration-tests/pubsub_test.go
Labels: new-feature

#1225 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#1227 feat: Update tofu to latest 1.7.2
  manifest.yml
Labels: unscheduled, new-feature

#1228 feat: Implement additional simple properties for topic and subscription
  docs/README.md
  google-pubsub.yml
  integration-tests/pubsub_test.go
  terraform-tests/pubsub_test.go
  terraform/pubsub/provision/main.tf
  terraform/pubsub/provision/variables.tf
Labels: new-feature

#1235 fix: default value for subscription_retry_policy_maximum_backoff
  google-pubsub.yml
Labels: bug-fix

#1237 chore: Test dependencies are updated only once a week
  .github/dependabot.yml
Labels: unscheduled, chore

#1239 chore: Add missing variable declaration
  google-dataproc.yml
  google-spanner.yml
  terraform/dataproc/bind/variables.tf
  terraform/spanner/bind/variables.tf
Labels: chore

#1241 chore: update test to access case insensitive matches
  terraform-tests/storage_test.go
Labels: unscheduled
